
@media (min-width:1400px) {
    .banner-text h1{
        line-height: 80px !important;
    }
    /* commitment part start */
    .commitment-counter{
        margin-left: auto;
    }
    .commitment-text{
        margin: 0 auto;
    }
}
@media (min-width:1200px) and (max-width:1399.99px) {
    .banner-text h1{
        line-height: 80px !important;
    }
    /* commitment part start */
    .commitment-counter{
        margin-left: auto;
    }
    .commitment-text{
        margin: 0 auto;
    }
}
@media (min-width:992px) and (max-width:1199.99px) {
    /* commitment part start */
    .commitment-counter{
        margin-left: auto;
    }
    .commitment-text{
        margin: 0 auto;
    }
}
@media (min-width:768px) and (max-width:991.99px) {
    .banner-text {
        max-width: 300px;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    /* commitment part start */
    .commitment-counter{
        margin: 0 auto;
    }
    .commitment-text{
        margin: 0 auto;
    }
}
@media (min-width:576px) and (max-width:767.99px) {
    .banner-text {
        max-width: 350px;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    /* commitment part start */
    .commitment-counter{
       margin: 30px auto 0;
    }
    .commitment-text{
        margin: 0 auto;
    }
    /* how it work */
    .work-icon{
        margin: 0;
    }
}
@media (max-width:575px) {
    .banner-text {
        max-width: 500px;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    /* companies part start */
    .companies-header h3 {
        font-size: 24px;

    }
    /* commitment part start */
    .commitment-counter{
    
        margin: 30px auto 0;
     }
     .commitment-text{
         max-width: 480px;
         margin: 0 auto;
     }
     .commitment-counter .card .card-body{
        padding: 20px 0;
    }
    /* how work */
    .work-icon{
        margin: 0;
    }
}