:root{
    --font-family: 'Public Sans';
    --blue:#3461FF;
    --white:#ffffff;
    --black:#000000;
    --text-color:#575757;
}
body{
    overflow-x: hidden;
    background: var(--white);
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
p{
    padding: 0;
    margin: 0;
}
ul, ol{
   list-style: none;
   padding: 0;
   margin: 0;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
.btn-close:focus {
	box-shadow: none;
}
.container{
    background: rgb(70, 68, 68);
}
/* common css End */
/* navbar part start */
.offcanvas-btn{
    display: flex;
    justify-content: end;
    gap: 5px;
    width: 100%;
    height: auto;
}
.offcanvas-btn:hover{
    background: transparent !important;
}
.offcanvas-btn .create{
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 5px;
    text-align: end;
}
.offcanvas-btn .one{
    width: 30px;
    height: 2px;
    background: red;
}
.offcanvas-btn .two{
    width: 25px;
    height: 2px;
    background: rgb(0, 236, 39);
}
.offcanvas-btn .three{
    width: 20px;
    height: 2px;
    background: rgb(0, 0, 0);
}
.offcanvas-body ul li{
    display: inline-block;
}
.offcanvas-body .main-nav li .nav-link{
    display: inline-block;
}
.main-navbar .main-nav .nav-link{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--black);
    border-bottom: 1px solid transparent;
    padding: 0;
}
.main-navbar .main-nav .nav-link:hover{
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}
.main-navbar .main-nav .active{
    color: var(--blue);
}
.navbar-btn a{
    font-size: 16px;
    font-family: var(--font-family);
    width: 120px;
    height: 40px;
    background: var(--blue);
}
.navbar-btn a:hover{
    box-shadow: 0 0 10px var(--blue);
}
/* navbar part End */
/* banner part start */
.banner-text{
    max-width: 405px;
}
.banner-text h1{
    font-size: 70px;
    font-family: var(--font-family);
}
.banner-text p{
    font-size: 16px;
    font-family: var(--font-family);
}
.banner-mail input{
    width: 70%;
    height: 40px;
}
.banner-mail input::placeholder{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}
.banner-btn a{
    width: 110px;
    height: 40px;
    background: var(--blue);
    font-size: 16px;
    font-family: var(--font-family);
}
.banner-btn a:hover{
    box-shadow: 0 0 10px var(--blue);
}
/* banner part End */
/* companies part start */
.companies-header h3{
    font-size: 25px;
    font-family: var(--font-family);
}
.companies-container .card{
    background: transparent !important;
}
.companies-container .card .companies-logo{
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}
.companies-container .card .companies-logo img{
    width: 100%;
    height: 100%;
}
/* companies part End */
/* commitment part start */
.commitment-counter{
    max-width: 483px;
}
.commitment-counter .card .card-body span{
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--black);
    display: inline-block;
}

.commitment-counter .card .card-body p{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--text-color);
}
.commitment-text{
    max-width: 450px;
}
.commitment-text h2{
    font-size: 40px;
    font-family: var(--font-family);
}
.commitment-text p{
    font-size: 16px;
    font-family: var(--font-family);
}
.commit-btn button{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--blue);
    background: transparent;
    border: 0;
    text-transform: capitalize;
    transition: ease-in-out 0.2s;
}
.commit-btn button:hover .right-arrow{
    transform: rotate(-50deg);
    transition: ease-in-out 0.2s;
}
/* commitment part End */
/* how-work part start */
.work-image img{
    border-radius: 15px;
    transform: rotate(-1deg);
}
.work-text h2{
    font-size: 40px;
    font-family: var(--font-family);
}
.work-text p{
    font-size: 16px;
    font-family: var(--font-family);
}
.work-item .inner-icon{
    width: 55px;
    height: 55px;
    background: var(--blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-icon{
    max-width: 500px;
    margin: 0 auto;
}
.work-item .inner-icon img{
    width: 30px;
    height: 30px;
}
.work-item .inner-text{
    width: 85%;
}
.work-item .inner-text h5{
    font-size: 20px;
    font-family: var(--font-family);
}
.work-item .inner-text p{
    font-size: 14px;
    font-family: var(--font-family);
}
/* how-work part End */
/* our part start */
.ourwork-heading h2{
    font-size: 40px;
    font-family: var(--font-family);
}
.ourwork-heading span{
    font-size: 14px;
    font-family: var(--font-family);
}
.ourwork-item .card-body h5{
    font-size: 20px;
    font-family: var(--font-family);
}
.ourwork-btn a{
    width: 120px;
    height: 35px;
    background: var(--blue);
    font-size: 16px;
    font-family: var(--font-family);
}
.ourwork-btn a:hover{
    box-shadow: 0 0 10px var(--blue);
}
/* our part End */
/* cta banner part start */
.CTA-heading h2{
    max-width: 300px;
    font-size: 40px;
    font-family: var(--font-family);
}
.CTA-content{
    max-width: 700px;
    margin: 0 auto;
    background-image: linear-gradient(-90deg ,#3461FF, #8399E9);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.CTA-content .part-two{
    max-width: 400px;
}
.CTA-content .part-two p{
    font-size: 16px;
    font-family: var(--font-family);
}
.CTA-btn a{
    width: 110px;
    height: 35px;
    background: var(--white);
    font-size: 16px;
    font-family: var(--font-family);
}
.CTA-btn a:hover{
    box-shadow: 0 0 10px var(--white);
}
/* cta banner part End */
/* team part start */
.team-text{
    max-width: 500px;
    margin:  0 auto;
}
.team-text h2{
    font-size: 40px;
    font-family: var(--font-family);
}
.team-text p{
    font-size: 16px;
    font-family: var(--font-family);
}
.team-btn a{
    width: 130px;
    height: 40px;
    background: var(--blue);
    font-size: 16px;
    font-family: var(--font-family);

}
.team-btn a:hover{
    box-shadow: 0 0 10px var(--blue);
}
/* team part End */
/* about part start */
.about-header{
    max-width: 600px;
}
.about-header h2{
    width: 100%;
    font-size: 40px;
    font-family: var(--font-family);
}
.about-slider .card{
    margin: 0 15px;
    border: 0;
    border-radius: 0;
}
.about-item{
    background: rgb(255, 255, 255);
    padding: 15px ;
    border-radius: 10px;
    transition: linear 0.3s;
}
.about-slider{
    position: relative;
}
.about-slider .prev-arrow{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    top: -70px;
    right: 60px;
    z-index: 1000;
    color: var(--text-color);
}
.about-slider .next-arrow{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    top:-70px;
    right: 0;
    z-index: 1000;
    color: var(--text-color);
}
.about-slider .next-arrow:hover{
     background: var(--blue);
     color: var(--white);
     box-shadow: 0 0 10px var(--blue);
}
.about-slider .prev-arrow:hover{
     background: var(--blue);
     color: var(--white);
     box-shadow: 0 0 10px var(--blue);
}
.about-slider .card .about-item:hover{
    background: #3461FF;
    transition: linear 0.3s;
}
.about-slider .card .about-item:hover h6{
   color: var(--white);
   transition: linear 0.3s;
}
.about-slider .card .about-item:hover p{
   color: var(--white);
   transition: linear 0.3s;
}
.about-item .inner-item .img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.about-item .inner-item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-item .inner-item .text h6{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--black);
    margin: 0;
    text-transform: capitalize;
    transition: linear 0.3s;
}
.about-item .inner-item .text p{
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--black);
    text-transform: capitalize;
    transition: linear 0.3s;
}
.about-item .card-body p{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--black);
    transition: linear 0.3s;
}
/* about part End */
/* journey part start */
.journey-content{
    max-width: 990px;
    margin: 0 auto;
    background: #232038;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}
.journey-content::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../image/mark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.journey-text{
    max-width: 360px;
}
.journey-text h2{
    font-size: 35px;
    font-family: var(--font-family);
}
.journey-btn a{
    width: 120px;
    height: 40px;
    background: var(--blue);
    font-size: 14px;
    font-family: var(--font-family);
}
.journey-btn a:hover{
    box-shadow: 0 0 10px var(--blue);
}
.journey-content .journey-circle .round{
    width: 250px;
    height: 250px;
    background: #E0FF22;
    border-radius: 50%;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.journey-container{
    display: flex;
    justify-content: center;
    align-items:center;
    
}
/* journey part end */
